body {
	background-color:grey;
	background-image: url("./assets/884849.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.tIcon:hover {
	cursor: pointer;
}

/* .svg {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
} */


.body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1rem;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.left {

}

.icon {
	width: 5rem;
}

.right {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.navItems {
	margin: 1rem;
	color: black;
}

.midbody {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#my_dataviz {
	margin-bottom: 1.3rem;
}
svg {
	width: 106%;
}
.svgGuide {
	margin-left: 2rem;
	font-size: .85rem;
}

.APIwidget{
	width: 20rem;
	height: 18rem;
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.num_icon {
	display: flex;
	justify-content: center;
	align-items: center;
}
.wid_ele {
	margin: .5rem;
}


.legend {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2rem;
	width: 60rem;
}

.container {
	display: flex;
	justify-content: space-between;
	border: solid white 1px;
	padding: 1rem;
	width: inherit;
}

.indicator {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	align-content: center;
	align-self: center;
	width: 9rem;
}


.container p {
	width: 16rem;
	display: flex;
	align-items: center;
	margin-left: 3rem;
}
#lnum {
	width: 5rem;
}

.APIwidget {
	margin: 5rem;
}
.APIwidget span {
	margin-bottom: 1rem;
}
#title_conditions {
	font-weight: bolder;
	font-size: 1.5rem;
}
#aqi {
	font-size: 4.5rem;
}
#sensor_site {
	font-size: .7rem;
}
#city {
	text-align: center;
}
#sensor_site {
	font-weight: bold;
}
#status {
	font-size: 1.5rem;
}



.good {
	background-color: greenyellow;
	transition: 2s;
}
.moderate {
	background-color: yellow;
	transition: 2s;
}
.usg {
	background-color: orange;
	transition: 2s;
}
.uh {
	background-color: red;
	transition: 2s;
}
.vuh {
	background-color: purple;
	transition: 2s;
}
.haz {
	background-color: brown;
	transition: 2s;
}

.cont_legend {
	background-color: white;
}
.lstatus {
	margin-bottom: .5rem;
}




/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


   a:link {


  text-decoration: none;


}


a:visited {


  text-decoration: none;


}


a:hover {


  text-decoration: none;


}


a:active {


  text-decoration: none;


}